:root {
    --main: rgba(0, 0, 0, 0.9);
    --blue: rgb(79, 115, 222);
    --white: rgb(250, 250, 250);
  }

body,html {
    margin: 0px;
    font-family:Garamond, Georgia, serif;
    font-size: 12pt;
    color: var(--main);
  }